{% extends 'home.html' %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <!-- Navigation Bar -->
      <div class="bg-dark text-white text-center py-2 mb-4 rounded">
        <nav>
          <ul class="nav nav-pills justify-content-center">
            <li class="nav-item" style="font-size: x-small;">
              <a href="{{ url_for('dailyFarming') }}" class="nav-link" style="font-size: large; color:white">Dairy
                Farming</a>
            </li>
            <li class="nav-item" style="font-size: x-small;">
              <a href="{{ url_for('coffee') }}" class="nav-link" style="font-size: large; color:white">Coffee</a>
            </li>
            <li class="nav-item" style="font-size: x-small;">
              <a href="{{ url_for('tea') }}" class="nav-link" style="font-size: large; color:white">Tea</a>
            </li>
            <li class="nav-item" style="font-size: large;">
              <a href="{{ url_for('maize_farming') }}" class="nav-link" style="font-size: large; color:white">Maize
                Farming</a>
            </li>
            <li class="nav-item" style="font-size: x-small;">
              <a href="{{ url_for('others') }}" class="nav-link" style="font-size: large; color:white">Others</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Posts Section -->
      {% if posts %}
      {% for post in posts %}
      <div class="card mb-4 {% if post[0] == id %}bg-light text-white{% else %}bg-light{% endif %}">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 14px; color:black;">{{ post[2] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted" style="font-size: 14px; color:black;">{{ post[4] }} by {{ post[1] }}
          </h6>
          <p class="card-text" style="font-size: 14px; color:black;">{{ post[3] }}</p>
          {% if post[7] %}
          <div class="media-container">
            {% if post[7].endswith('.jpeg') or post[7].endswith('.png') or post[7].endswith('.jpg') or
            post[7].endswith('.gif') %}
            <img src="{{ url_for('static', filename='uploads/' ~ post[7]) }}" class="img-fluid" style="max-width: 100%;"
              alt="Image">
            {% elif post[7].endswith('.mp4') %}
            <video controls class="img-fluid" loop>
              <source src="{{ url_for('static', filename='uploads/' ~ post[7]) }}" type="video/mp4">
            </video>
            {% endif %}
          </div>
          {% endif %}
          <div class="d-flex justify-content-center">
            <p style="font-size: 14px; color:black;">Likes: {{ post[6] }}</p>
            <!-- Like Post Form -->
            <form action="{{ url_for('like') }}" method="post" class="mx-1">
              <input type="hidden" id="post_id" name="post_id" value="{{ post[5] }}" />
              <button type="submit" class="btn btn-primary btn-sm">Like</button>
            </form>

            <!-- Reply Section -->
            <div class="mx-1">
              <button class="toggle-btn btn btn-primary btn-sm" onclick="togglereplyVisibility(this)"
                type="button">Reply</button>
              <div style="display: none;" class="giving mt-2">
                <form action="{{ url_for('reply') }}" method="post">
                  <input type="text" id="post_id" name="post_id" value="{{ post[5] }}" hidden>
                  <textarea class="textarea bg-light rounded" name="reply" id="reply" placeholder="Input"></textarea>
                  <input type="submit" class="btn btn-primary btn-sm mt-2" value="Submit">
                </form>
              </div>
            </div>

            <!-- View Replies Section -->
            <div class="mx-1">
              <button class="toggle-btn btn btn-info btn-sm" onclick="toggleVisibility(this)" type="button"
                id="replies">View
                Replies</button>
              <div style="display: none;" class="giving mt-2">
                {% for reply in replies %}
                {% if reply[2] == post[5] %}
                <div class="container container-fluid bg-primary rounded mb-2">
                  <p>Reply by {{ reply[3] }}</p>
                  <hr>
                  <p>{{ reply[1] }}</p>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>

            <!-- Edit Post Section -->
            {% if post[0] == id %}
            <div class="mx-1">
              <button class="toggle-btn btn btn-warning btn-sm" onclick="toggleVisibility(this)"
                type="button">Edit</button>
              <div style="display: none;" class="giving mt-2">
                <form action="{{ url_for('edit') }}" method="post">
                  <input type="text" id="post_id" name="post_id" value="{{ post[5] }}" hidden>
                  <textarea class="textarea bg-light rounded" name="post_update" id="post_update"
                    placeholder="Input">{{ post[3] }}</textarea>
                  <input type="submit" class="btn btn-warning btn-sm mt-2" value="Submit">
                </form>
              </div>
            </div>

            <!-- Delete Post Form -->
            <form action="{{ url_for('delete_post') }}" method="post" class="mx-1">
              <input type="hidden" name="id" value="{{ post[5] }}" />
              <button type="submit" onclick="deleted_alert()" class="btn btn-danger btn-sm">Delete</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No posts available.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}