{% extends 'home.html' %} {% block content %}
<marquee behavior="scroll" direction="left">
  <div class="container bg-success container-fluid mt-0">
    Share your experience here
  </div>
</marquee>
<div class="container mt-1 bg-primary rounded p-3">
  <form action="{{url_for('feedback')}}" method="post">
    <div class="mb-1">
      <label for="title" class="form-label text-white">Topic</label>
      

      <input
        type="text"
        id="title"
        name="title"
        placeholder="Write your private topic of concern here"
        class="form-control"
        required
      />
    </div>
    <div class="mb-1">
      <label for="post" class="form-label text-white">Concern</label>
      <textarea
        class="form-control"
        name="post"
        id="post"
        rows="3"
        placeholder="Write your concern here"
        required
      ></textarea>
    <button
      onclick="feedback_submision()"
      class="btn bg-light btn-outline-success"
      type="submit"
    >
      Send
    </button>
  </form>
</div>
{% endblock %}
