{% extends 'home.html' %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card" style="width: 300px; margin-top: 5%">
    <div class="card-body text-center">
      {% for information in data %}
      <h4 class="card-title">User name: {{ information.user_name }}</h4>
      <p class="card-text">Date joined: {{ information.date_joined }}</p>
      <p class="card-text">Email: {{ information.email }}</p>
      {% endfor %}
      <a href="{{ url_for('firstpage') }}" class="btn btn-outline-danger">Logout</a>
    </div>
  </div>
</div>


{% endblock %}